h1 {
    color:cyan;
}

p {
    color:dodgerblue;
}

dt {
    color:azure;
}

dd {
    color:aliceblue;
    margin-left: 10px;
}

body{
    margin-left:10px;
    margin-top:10px;
    color:white;
    background-color:black;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.style-1 {
    color:lightpink;
}

.style-2 {
    color:lightcoral;
}