h1 {
    color:cyan;
}

p {
    color:dodgerblue;
}

dt {
    color:azure;
}

dd {
    color:aliceblue;
    margin-left: 10px;
}

body{
    background-color:darkblue;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.style-1 {
    color:lightpink;
}
