body{
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    padding:25px 25px;
    color:#F5F5F5;
    background-image: url("images/anythingseriesbackground.png");
    background-color:#1A1625;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color:#6A0DAD;
    /* background-color:#2A233A; */
}

h2 {
    color:#6A0DAD;
    /* background-color:#2A233A; */
}

h3 {
    color:#BA5DFD;
    background-color:#2A233A;
}

p {
    color:#F5F5F5;
    background-color: #2A233A;
}

dl {
    color:#F5F5F5;
}

header {
    background-color:#2A233A;
}

footer {
    background-color:#2A233A;
}

/* .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
} */

.style-1 {
    color:#9B4DFF;
}

.style-2 {
    color:#9B4DFF;
}

.style-c {
    color:#9B4DFF;
    font-weight:bold;
}

.style-ci {
    color:#BB6DFF;
    font-weight:bolder;
    font-size:25px;
}

.style-0 {
    color:#CCCC00;
}

.top {
    background-image: url("images/anythingseriestopbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#2A233A;
    text-align: center;
}

/* .button {
    display: inline-block;
    padding: 10px 18px;

    background-color: #9B4DFF;
    color: white;

    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #8f45d8;

    font-weight: 600;
    font-family: Arial, sans-serif;

    transition: 0.2s;
}

.button:hover {
    background-color: #CB7DFF;
}

.button:active {
    transform: scale(0.97);
} */

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    max-width: 1000px;
    margin: 30px auto;
}

.button-grid002 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;

    max-width: 800px;
    margin-top: 30px;
    margin-bottom: 60px;

    justify-content: left;
}

.button {
    background: linear-gradient(180deg,#af65f8,#7b2cc6);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;

    box-shadow: 0 4px 12px rgba(0,0,0,.3);

    transition: .2s;
}

.button002 {
    background: linear-gradient(180deg,#af65f8,#7b2cc6);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;

    box-shadow: 0 4px 12px rgba(0,0,0,.3);

    transition: .2s;
}

.button:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,.35);
    background: linear-gradient(180deg,#cf85ff,#9b4ce6);
}

.button002:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,.35);
    background: linear-gradient(180deg,#cf85ff,#9b4ce6);
}

.home-button {
    background: linear-gradient(180deg,#9f45d8,#5b0ca6);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

    box-shadow: 0 4px 12px rgba(0,0,0,.3);

    transition: .2s;
}

.home-button:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,.35);
    background: linear-gradient(180deg,#af65f8,#7b2cc6);
}

.methodflex {
    display:flex;
    margin-left:30px;
    gap:20px;

    background-color:#2A233A;
}

.methodgrid {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left:30px;
    gap:10px;
    max-width:2000px;

    background-color:#2A233A;
}

.buttonflex {
    display:flex;
    gap:30px;
}

.methodgrid3 {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left:30px;
    gap:10px;
    max-width:2000px;

    background-color:#2A233A;
}
